
@{
    ViewBag.Title = "Forgot Password";
}
@model NoteShare.Models.ForgotPasswordModel
@section scripts {
    <script src="~/Scripts/ForgotPassword.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}

<h2 class="pageTitle">Forgot Password?</h2>
<div id="forgotPasswordWell" class="well">

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "forgotPassForm", @name = "forgotPassForm" }))
{ 
        <div>
            <input id="username" name="username" type="text" placeholder="Enter username"/>
        </div>
        <br />
        <div>
            <input id="email" name="email" type="email" placeholder="Enter email"/><span>  Temporary password will be sent to your email.</span>
        </div>
        <br>
        <div>
            <button type="submit">Submit</button>
        </div>
}
</div>