@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: lightgray; padding-left: 20px; padding-right: 20px; padding-top: 10px;">
    <div style="height:200px;">
        <div class="displayInlineBlock" style=" width: 49%;">
            <img src="https://chalmeristbloggen.files.wordpress.com/2014/04/sofia_sabel-students-2639.jpg" alt="peeps studying" style="width:400px;height:200px;">
        </div>
        <div class="noteType displayInlineBlock" style="text-align:center; width: 49%;">
            <h2>Missed a Class?</h2>
            <h3>Note Share!</h3>
        </div>
    </div>
    <div style="height:250px;">
        <div class="displayInlineBlock" style="text-align:center;  width: 49%;">
            <h2>Having trouble in class?</h2>
            <h3>Note Share!</h3>
        </div>
        <div class="noteType displayInlineBlock" style=" width: 49%;">
            <img src="http://images.wisegeek.com/boy-asleep-on-books-with-computer.jpg" style="width:400px;height:200px;">
        </div>
    </div>
    <div style="height:300px;">
        <div class="displayInlineBlock" style=" width: 49%;">
            <img src="https://student.societyforscience.org/sites/student.societyforscience.org/files/main/articles/feature_ADHD_860_istock.jpg" alt="peeps studying" style="width:400px;height:200px;">
        </div>
        <div class="noteType displayInlineBlock" style="text-align:center; width: 49%;">
            <h2>Want to keep all your notes in same place?</h2>
            <h3>Note Share!</h3>
        </div>
    </div>
    <div style="height:250px;">
        <div class="displayInlineBlock" style="text-align:center; width: 49%;">
            <h2>See notes from past semesters?</h2>
            <h3>Note Share!</h3>
        </div>
        <div class="noteType displayInlineBlock" style=" width: 49%;">
            <img src="http://www.uwosh.edu/computer_science/main-images/bannerb.jpg" alt="This is Derrick studying" style="width:400px;height:175px;">
        </div>
    </div>
    <div style="height:200px;">
        <h3>
            Note Share is a place for notes! Study better by looking at your classmate's notes and sharing your own! Never fear losing notes from previous semesters by posting your notes on NoteShare!
            Rate your notes
        </h3>
    </div>
</div>
