@{
    ViewBag.Title = "Upload Success";
}

<h2>File uploaded successfully!</h2>

<div id="uploadWell">
    Click here to return to your notes: @Html.ActionLink("Notes", "Notes")

    <div>@Html.ActionLink("Return to home", "Index")</div>
</div>